/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2014.17.5, 18:17:26
    Author     : melnis
*/

.products {
    margin-top: 20px;
}
.basket td {
    vertical-align: middle !important;
}
.basket .quantity input {
    width: 50px;
}